torch
numpy==1.21.4
pydub==0.25.1
streamlit==1.2.0
streamlit_webrtc==0.31.1
transformers
git+https://github.com/pyannote/pyannote-audio.git@develop#egg=pyannote-audio
PythonTurtle
librosa
pandas
protobuf~=3.19.0
speechbrain
